body {
  font-family: 'Roboto', sans-serif;
  min-width: 432px;
}

.no-caret {
  caret-color: transparent;
}

.title {
  font-size: 1.25rem;
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  font-weight: bold;
}

.para {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1.5;
}


.subtext {
  margin: 0px;
  padding: 0px;
  font: size 1rem;
  font-weight: 400;
  color: grey;
}

.page-title {
  padding-left: 200px;
  padding-top: 92px;
  width: 472px;
}

.container {
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
  gap: 20px;
}

@media (max-width: 1244px) {
  .container {
    justify-content: center;
  }
  .page-title {
    padding-left: 0px;
  }
}

@media (max-width: 680px) {
  .container {
    justify-content: center;
    flex-wrap: wrap;
  }
  .page-title {
    padding-left: 20px;

  }
}
