body {
  font-family: "Roboto", sans-serif;
}

.no-caret {
  caret-color: transparent;
}

.title {
  font-size: 1.25rem;
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  font-weight: bold;
}

.para {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1.5;
}

.subtext {
  margin: 0px;
  padding: 0px;
  font: size 1rem;
  font-weight: 400;
  color: grey;
}

.page-title {
  padding-left: 200px;
  padding-top: 92px;
  width: 472px;
}

.container {
  display: flex;
  padding: 20px;
  flex-wrap: nowrap;
  gap: 20px;
}

@media (max-width: 1244px) {
  .container {
    justify-content: center;
  }
  .page-title {
    padding-left: 40px;
    align-self: start;
  }
}

@media (max-width: 740px) {
  html,
  body {
    width: 100vw !important;
    overflow-x: hidden !important;
  }
  * {
    box-sizing: border-box;
    word-break: break-word;
  }
  .container {
    flex-direction: column !important;
    gap: 8px !important;
    padding: 8px !important;
    width: 100% !important;
    align-items: center !important; /* Center children horizontally */
  }
  .page-title {
    padding-left: 0 !important;
    padding-top: 72px !important;
    width: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important; /* Center title horizontally */
    text-align: center !important;  /* Center text */
  }
  .container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 0 !important;
    width: 100% !important;
    max-width: 300px !important;
    height: auto !important;
  }
  .percentage-btn,
  .MuiButton-root {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
